#Info_aria-label_Addestramento {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-bottom: 1px dotted black;
}
#Info_aria-label_Addestramento::after {
  content: attr(aria-label);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  bottom: 150%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 1;
}
#Info_aria-label_Addestramento::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  bottom: 140%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 1;
}
#Info_aria-label_Addestramento:hover::before,
#Info_aria-label_Addestramento:hover::after {
  opacity: 1;
  visibility: visible;
}

#ShopLabel[data-html="NUOVO"]{
  background: orangered;
  border-top: rgb(255, 140, 140) solid 2px;
  color: white;
  /*
  width: auto;
  height: 20px;
  font-size: small;
  box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  display: flex;
  align-items: center;
  outline: solid 1px black;
  */
}
#ShopLabel[data-html="GRATIS"]{
  background: yellowgreen;
  border-top: #d5f38c solid 2px;
  color: white;
}


* {
  user-select: none;
}
body {
  cursor: url('/cons/mouse.svg'), default;
}

#invit2 {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}
#invit1 {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}

#invit2::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #333 transparent transparent transparent;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#invit1::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #333 transparent transparent transparent;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#invit2::after {
  content: attr(aria-label);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}
#invit1::after {
  content: attr(aria-label);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

/* Animazione Menù */
#menu {
  width: 0px; /* Inizialmente, il menu è nascosto */
  height: 70%;
  background-color: #575757;
  position: fixed;
  top: 0;
  right: -8px;
  transition: 0.4s ease; /* Aggiungi una transizione per l'animazione */
  overflow-x: hidden;
  /* padding-top: 60px; */
  z-index: 1;
}
#menu.open {
  width: 174px; /* Larghezza del menu aperto */
  right: 0px;
}