# File IDE
.env
/node_modules/*
/node_modules/.bin
!/node_modules/.yarn-integrity

# Updates

# Git hub
/.github/github wiki
/.github/ISSUE_TEMPLATE
!/.github/workflows

# Vscode
/.vs
/dist
/.vscode

# Colyseus
/game/multiP/colyseus.js

# Anti-npm
/package-lock.json
/node_modules/.package-lock.json
# 2404 file npm transformated

# Credenziali server
/ServerService/Account-Server/AccServ.ts
/ServerService/Account-Server/AccServ.js