# File IDE
.env
/node_modules/*
/node_modules/.bin
!/node_modules/.package-lock.json

# Updates

# Git hub
/.github/github wiki
/.github/ISSUE_TEMPLATE
!/.github/workflows

# Vscode
/.vs
/dist
/.vscode

# Colyseus
/game/multiP/colyseus.js

# npm
!/package-lock.json
# <=2404 file npm transformated
# 1742 file rimanenti

# Credenziali server
/ServerService/Account-Server/AccServ.ts
/ServerService/Account-Server/AccServ.js