# File IDE
.env
/node_modules/*

# Main Node Dependence Packages
!/node_modules/call-bind/*
!/node_modules/function-bind/*
!/node_modules/get-intrinsic/*

# Git hub
/.github/workflows
/.github/ISSUE_TEMPLATE

!/.github/github wiki/*

# Vscode
/.vs

# Credenziali server
!/ServerService/Account-Server/AccServ.ts
/ServerService/Account-Server/AccServ.js